<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Website" value="https://dakabinshs.eq.edu.au/" />
    <add key="Headless" value="false" />
  </appSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>